<a href="https://colab.research.google.com/github/JanaKassab/pandas-exercises-udemy/blob/main/exercise_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 06:**

The following *Series* is given:
```
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

```
Convert its type to *int* and print this *Series* to the console.

**Expected result:**
```
a    1
b    2
c    3
d    4
dtype: int64
```

In [4]:
# Importing the pandas library as 'pd' for data manipulation and analysis
import pandas as pd

# Creating a pandas Series object
# The data consists of a list of strings ['001', '002', '003', '004']
# The index is created using the list function with 'abcd' to assign 'a', 'b', 'c', 'd' as indices
# The astype(int) method is used to convert the string values to integers
series = pd.Series(['001', '002', '003', '004'], list('abcd')).astype(int)

# Alternative method:
# The same result can be achieved using the pd.to_numeric() function
# or series = pd.to_numeric(series)

# Printing the created Series object to the console
print(series)

a    1
b    2
c    3
d    4
dtype: int64