<a href="https://colab.research.google.com/github/JanaKassab/pandas-exercises-udemy/blob/main/exercise_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 14:**

Create the following *DataFrame* object and print it to the console.

**Expexted result:**
```
             day    day_of_year
 0    2021-03-01    60
 1    2021-03-02    61
 2    2021-03-03    62
 3    2021-03-04    63
 4    2021-03-05    64
 5    2021-03-06    65
 6    2021-03-07    66
 7    2021-03-08    67
 8    2021-03-09    68
 9    2021-03-10    69
10    2021-03-11    70
11    2021-03-12    71
12    2021-03-13    72
13    2021-03-14    73
14    2021-03-15    74
15    2021-03-16    75
16    2021-03-17    76
17    2021-03-18    77
18    2021-03-19    78
19    2021-03-20    79
20    2021-03-21    80
21    2021-03-22    81
22    2021-03-23    82
23    2021-03-24    83
24    2021-03-25    84
25    2021-03-26    85
26    2021-03-27    86
27    2021-03-28    87
28    2021-03-29    88
29    2021-03-30    89
30    2021-03-31    90

```

Tip: The *day* column contains dates from March 1, 2021 to March 31, 2021. The column *day_of_year* is the day number of the whole year.

In [4]:
# Import the pandas library, aliasing it as 'pd' for convenience
import pandas as pd

# Generate a range of dates using 'pd.date_range()' function
# The 'start' parameter defines the starting date ('2021-03-01')
# The 'periods' parameter specifies the number of dates to generate (31 days in this case)
# Since no 'freq' is specified, the default frequency is daily ('D')
date_range = pd.date_range(start='2021-03-01', periods=31)

# Create a DataFrame from the date_range array, with the column named 'day'
df = pd.DataFrame(data=date_range, columns=['day'])

# Add a new column 'day_of_year' to the DataFrame
# The '.dt.dayofyear' attribute extracts the day of the year for each date in the 'day' column
df['day_of_year'] = df['day'].dt.day_of_year

# Print the DataFrame to display both the dates and their corresponding day of the year
print(df)

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90